body{
    margin: 0px;
}
.header{
    position: sticky;
    z-index: 100;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: lightgrey;
}
#headersItem{
    display: inline-block;
}
.logo{
    margin: 10px 135px;
}
.buttons{
    position: absolute;
    right: 0;
    margin: 0px 120px;
}
#menuItem{
    display: inline-block;
    text-align: center;
    margin: 15px 15px;
    height: 40px;
    width: 120px;
    background-color: darkgray;
}
#menuItem p{
    margin: 10px;
}
#menuItem:hover{
    background-color: grey
}
.navigation:hover .dropdown{
    display: block;
    background-color: grey
}
.ava{
    position: absolute;
    margin: 5px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: black;
}
.dropdown{
    position: absolute;
    display: none;
    width: 120px;
    background-color: grey
}
.dropItem:hover{
    background-color: darkgray;
}
.dropItem{
    padding: 10px;
    margin: 1px;
}

.works,
.contacts{
    width: 80%;
    margin: auto;
}
.midWork{
    height: 390px;
    width: 520px;
    margin: auto;
    background-color: gray;
}
.mainWork{
    position: absolute;
    height: 400px;
    width: fit-content;
    margin-left: -270px;
    text-align: center;
}
.blockWorks{
    height: 300px;
    width: 300px;
    margin: 48px 25px;
    display: inline-block;
    position: relative;
    background-color: darkgray;
}

.body{
    width: 80%;
    margin: auto;
    background-color: #8ac1ff;
}
.content{
    text-align: center;
}
.block{
    height: 400px;
    width: 40%;
    margin: 20px;
    display: inline-block;
    position: relative;
    background-color: darkgray;
}
.footer{
    height: 240px;
    width: 100%;
    bottom: 0;
    background-color: grey;
}
.ownerBlock{
    display: inline-block;
    height: 190px;
    width: 50%;
    margin: 25px 0px;
    background-color: darkgray;
}
.ownerBlock p{
    position: absolute;
    width: 380px;
    margin-left: 140px;
}

.avaOwner{
    position: absolute;
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 100px;
    background-color: white;
}
.ownersButtons{
    position: absolute;
    width: fit-content;
    margin: 140px 0px 20px 140px;
}

.numbers{
    display: inline-block;
}