<div class="works">
    <div class="midWork">
        <div class="mainWork">
            <a href="">
                <div class="blockWorks">
                    post1
                </div>
            </a>
            <a href="">
                <div class="blockWorks">
                    post1
                </div>
            </a>
            <a href="">
                <div class="blockWorks">
                    post1
                </div>
            </a>
        </div>
    </div>
</div>
<div class="body">
    <div class="content">
        <a href="">
            <div class="block"> 
                block1 
            </div>
        </a>
        <a href="">
            <div class="block"> 
                block1 
            </div>
        </a>
        <a href="">
            <div class="block"> 
                block1 
            </div>
        </a>
        <a href="">
            <div class="block"> 
                block1 
            </div>
        </a>  
    </div>
</div>